@import url('../../fonts.css');
@import url('../../styles.css');

.Photos{
    margin-top: 64px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 64px;
    animation-delay: 1000ms;
}
.Photos-Wrapper{
    overflow: scroll;

    height: 100dvh;
    width: 100dvw;

    padding: 32px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    background: var(--ColorWhite);
    animation:  backgroundFadeInToWhite 500ms ease-in;

    /*Firefox scrollbar */
    scrollbar-width: none;
}
.Photos-Wrapper::-webkit-scrollbar {
    width: 0;
}
@media screen and (max-width: 967px){
    .Photos {
        margin-top: 0;
    }
}
@media screen and (max-width: 576px){
    .Photos {
        gap: 32px;
    }
}