@import url('../../fonts.css');
@import url('../../styles.css');

.Photos{
    margin-top: 32px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 64px;
    animation-delay: 1000ms;
}
.Photos-Wrapper{
    overflow: scroll;

    height: 100dvh;
    width: 100dvw;

    padding: 32px 32px 128px 32px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    background: var(--ColorWhite);
    animation:  backgroundFadeIn 500ms ease-in;
}
.Photos-BackLink::before{
    margin-right: 4px;
    content: "←";
}
.Photos-BackLink{
    width: min-content;
    padding: 8px 16px;
    font-size: 16px;

    text-shadow: 0 0 8px var(--ColorYellow);
    color: var(--ColorYellow);
    text-decoration: none;

    background: var(--ColorBlack);
    border-radius: 4px;

    transition: background-color 200ms ease-in;
}

.Photos-BackLink:visited {
    color: var(--ColorYellow);
}

.Photos-BackLink:hover{
    color: var(--ColorBlackText);
    background: var(--ColorYellow);
}

@media screen and (max-width: 726px){
    .Photos-Wrapper{
        padding: 32px 32px 176px 32px;
    }
}
@media screen and (max-width: 576px){
    .Photos {
        gap: 32px;
    }
}