.ImageCard{
    cursor: pointer;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60dvh;
    height: 60dvh;

    gap: 16px;

    transition: all 250ms ease-in;
}
.ImageCard_flipped{
    position: relative;
}
.ImageCard-Image{
    z-index: 1;
    opacity: 1;
    display: inline-block;
    object-fit: cover;
    width: 100%;
    height: 100%;

    border-radius: 10px;

    transition: all 250ms ease-in;

    box-shadow: 0 2px 0 var(--ColorYellow);
}
.ImageCard-Image_flipped{
    z-index: 0;
    opacity: 0.08;
    filter: alpha(opacity=8);
    box-shadow: 0 2px 0 var(--ColorBlack);
}
.ImageCard-Capture{
    opacity: 1;
    width: max-content;
    transition: opacity 250ms ease-in;
}
.ImageCard-Capture_flipped{
    opacity: 0;

}
.ImageCard-Text{
    z-index: 0;
    opacity: 0;
    position: absolute;
    display: block;

    padding: 16px 32px;
    max-width: 100%;

    font-size: 16px;
    text-align: justify;


}
.ImageCard-Text_flipped{
    z-index: 1;
    overflow: hidden;

    display: block;
    opacity: 1;

    max-height: 60dvh;

    transition: opacity 250ms ease-in;
    transition-delay: 250ms;

}
.ImageCard-Paragraph{
    display: inline-block;
    margin: 8px 0;
}

@media screen and (max-width: 450px) {
    .ImageCard-Text {
        font-size: 14px;
    }
    .ImageCard-Paragraph {
        margin: 6px 0;

    }
}
@media (max-width: 390px) or (max-height: 720px){
    .ImageCard-Text{
        font-size: 12px;
    }
    .ImageCard-Paragraph{
        margin: 4px 0;
    }
}