:root{
    --ColorWhite: #FFFFFF;
    --ColorBlue: #005CFF;
    --ColorBlack: #000000;

    --ColorYellow: #ffcc00;
    --ColorYellowBlur: #ffcc0080;
    --ColorYellowShadow: #ffcc0050;
    --ColorRed: #FF0000;

    --ColorBlackText: rgba(0,0,0,1);
    --ColorWhiteText: rgba(255, 255, 255, 0.91);

    --ColorCodeBackground: #cccccc;
}
html{
    /*Firefox scrollbar */
    scrollbar-width: thin;
}
html::-webkit-scrollbar{
    width: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:visited{
    text-decoration: none;
}
code {
     padding: 2px 4px;
     display: inline-block;

     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;

     border-radius: 2px;

     background: var(--ColorCodeBackground);
    color: var(--ColorBlackText);
 }
@media (max-width: 1024px) {
    code{
        margin: 2px;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes backgroundFadeInToWhite {
    from{
        opacity: 0;
        background: var(--ColorBlack);
    }
    to{
        opacity: 1;
        background: var(--ColorWhite);
    }

}

@keyframes backgroundFadeInToBlack {
    from{
        opacity: 0;
        background: var(--ColorWhite);
    }
    to{
        opacity: 1;
        background: var(--ColorBlack);
    }

}



