.Story-Wrapper{
    position: relative;
    padding: 32px 32px 32px 32px;


    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;

    height: 100dvh;

    gap: 16px;

    background: var(--ColorBlack);
    animation:  backgroundFadeInToBlack 500ms ease-in;

    /*Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: var(--ColorYellowShadow) transparent;
}
.Story-Wrapper::-webkit-scrollbar {
    margin: 2px;
    width: 8px;
}
.Story-Wrapper::-webkit-scrollbar-thumb {
    background-color: var(--ColorYellowShadow);
    border-radius: 4px;
}
.Story-Wrapper::-webkit-scrollbar-track  {
    background: transparent;
}
.Story{
    position: absolute;
    top: 0;
    left: 0;
}
@media screen and (max-width: 768px){
    .Story-Wrapper{
        padding: 32px;
    }
}
